

<p class="fs-6">
	<p class="fs-6"><%= @about_me %></p>
	<p class="fs-6">Desenvolvedor: <a  href="https://www.linkedin.com/in/rafael-carvalho-b833b01a1/"class="stretched-link">Rafael Carvalho</a></p>
</p>
