<p>Olá, <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos entrando em contato pra notifica-lo de que seu e-mail esta sendo alterado para <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos entrando em contato para notifica-lo de que seu e-mail foi alterado para <%= @resource.email %>.</p>
<% end %>
